@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f2f2f2;
    padding: 20px;
}

.container{
    background-color: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 500px;
    width: 100%;
}

h1{
    text-align: center;
    font-weight: 500;
    margin-bottom: 20px;
    font-size: 1.2rem;
    line-height: 1.5;
    word-wrap: break-word;
}

.board{
    width: 100%;
    max-width: 400px;
    margin: 20px auto;
}

.buttons{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

button{
    color: #fff;
    background-color: #000;
    border: none;
    min-width: 120px;
    height: 40px;
    padding: 0 15px;
    border-radius: 6px;
    font-size: 0.9rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover{
    background-color: #434343;
}

.move-history{
    margin: 20px auto 0;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    height: 100px;
    max-width: 400px;
    width: 100%;
    overflow-y: scroll;
    background-color: #f2f2f2;
}